.home-wrapper {
    text-align: center;
}

.home__bordboek-wrapper {
    display: inline-block;
    width: 82%;
    position: relative;
    margin-top: 5%;
}

.home__bordboek {
    max-width: 100%;
}

/* TODO: fix button position on bordboek */
.home_btn-bordles {
    cursor: pointer;
    position: absolute;
    top: 3.5%;
    left: 43%;
    width: 40px;
    height: 40px;
    background: url('./assets/images/btn-bordles.png');
    background-size: 100%;
}

@media (min-width: 1200px) {
    .home__bordboek {
        width: 1063px;
    }
}